/**
*   CSS Selectors flow from top of page down
*   and left to right
*
*   Selector attributes are stacked alphabetically
*
*   Media Queries are at the bottom and flow from largest down to smallest
*/

p.empty {
    display: none;
}

li.empty {
    display:none;
}

span.empty {
    display: none;
}


/**
*   Navbar
*/
a.navbar-brand {
    text-align: center;
    white-space: normal;
    word-break: break-all;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

body {
    margin-bottom: 60px;
}

html {
    color: #4D5F69;
    font-size: 14px;
    min-height: 100%;
    position: relative;
}

#nav-logo {
    height: auto;
    max-width: 12rem;
}



/**
*   Main Page
*/
#main-row {
    padding-top: 1rem;
}

/*#main-brand {
    color: #D12A2E;
}*/



/**
*   Left Column
*/
#filter-wrapper {
    float: none;
    position: relative;
    width: 100%;
}

#filter-head {
    color: #192838;
    text-align: left;
}

#filterSearch-wrapper {
    color: #4D5F69;
    font: Museo Sans 700;
    font-size: 1.4rem;
}

#filterSearch-wrapper a.btn-link .panelTitleBox {
    display: inline-block;
    font-size: 1.8rem;
}

#filterSearch-wrapper a.btn-link .panel-name {
    color: #192838;
}

#filterSearch-wrapper form.searchATM fieldset.atmSearch {
    padding-top: 1rem;
    padding-left: 1rem;
}

#filterSearch-wrapper form.searchNFC fieldset.nfcSearch {
    padding-top: 1rem;
    padding-left: 1rem;
}



/**
*   Center Column
*/
#center-index {
    float: none;
    position: relative;
    width: 70%;
}

#mapBlock {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

#map-wrapper {
    height: 600px;
    margin: auto;
    width: 100%;
}

#mapBlock #directionsPanel {
    background-color: #F4F5F5;
    border-color: #4D5F69;
    color: #192838;
    float: right;
    height: 100%;
    width: 80%;
}



/**
*   Right Column
*/
#sidebar-wrapper {
    float: none;
    position: relative;
    width: 1000%;
}

#sidebar-wrapper #sidebar-head {
    color: #192838;
    text-align: center;
}

#sidebar-wrapper .card {
    color: #4D5F69;
    font: Museo Sans 700;
    stroke: #D5D7D9;
}

div#sidebar-wrapper div.card p {
    color: #4D5F69;
    font-size: 1.2rem;
    margin: 0;
}

#sidebar-wrapper .card .card-header {
    background-color: #EAEBEC;
}

div.card-header a.btn-link {
    color: #006979;
    display: inline-block;
    font-size: 1.6rem;
}

div.card-header a.btn-link div.cardTitleBox {
    color: #006979;
    display: inline-block;
    font-size: 1.6rem;
}

div.card-header a.btn-link div.cardTitleBox span.card-title {
    color: #006979;
    font: Museo Sans 700;
}

btn-link:hover {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}

div.card div.card-header a.btn-link:hover span.card-name {
    color: #006979;
}

div.card div.card-header a.btn-link span.cardTitleBox i.fas {
    color: #006979;
    display: inline-block;
    padding-right: 5px;
}

div.card-header a.btn-link:hover {
    text-decoration: none;
}

div#card-wrapper div.card div.card-header a.btn-link:hover span.cardTitleBox i.fas {
    text-decoration: none;
}

span.card-name:hover {
    text-decoration: underline;
}

div.card div.card-header a.btn-link span.cardTitleBox i.fa-plus {
    display: none;
}

div.card div.card-header a.btn-link[aria-expanded="false"] span.cardTitleBox i.fa-plus {
    display: initial;
}

div.card div.card-header a.btn-link[aria-expanded="false"] span.cardTitleBox i.fa-minus {
    display: none;
}

div#card-wrapper div.card div.card-header a.btn-link:checked span.cardTitleBox i.fas {
    text-decoration: none;
}

div#card-wrapper div.card div.card-header a.btn-link:visited span.cardTitleBox i.fas {
    text-decoration: none;
}

div#card-wrapper div.card div.card-header a.btn-link:after span.cardTitleBox i.fas {
    text-decoration: none;
}

#sidebar-wrapper div.card .card-body {
    background-color: #F4F5F5;
}

#sidebar-wrapper .card .card-body div.card-subtitle {
    padding-bottom: 1rem;
}

#sidebar-wrapper .card div.card-subtitle a.webAddressLink {
    color: #006979;
}

#sidebar-wrapper .card div.card-subtitle a.phoneLink {
    color: #006979;
}

#sidebar-wrapper .card div.card-subtitle a.webAddressLink:hover {
    text-decoration: underline;
}

#sidebar-wrapper .card div.card-subtitle a.phoneLink:hover {
    text-decoration: underline;
}

#sidebar-wrapper .card .contactInfo span.cardTitleBox {
    color: #192838;
    font-size: 1.6rem;
}

#sidebar-wrapper div.card div.card-footer {
    background-color: #F4F5F5;
}




/**
*   card classes for hide/display
*/

.hideByText, hideResultsMessage, .hideByHours, .hideByDriveThruOnly, .hideBySurcharge, .hideByAcceptDeposit, .hideByCoinStar, .hideByTellerServices, .hideBy_24hourExpressBox, .hideByPartnerCreditUnion, .hideByMemberConsultant, .hideByInstantDebitCardReplacement {
    display: none;
}




/**
*   bootstrap collapse setting for large screens
*/
#filterSearch-wrapper .panel-header {
    position: relative;
    text-decoration: none;
}

#filterSearch-wrapper a:after {
    position: absolute;
}

#filterSearch-wrapper .collapse:not(.show) {
    display: block;
}



/**
*   grid areas for responsive screens
*/
#left-nav.col {
    grid-area: lhs;
}

#center-index.col {
    grid-area: main-map;
}

#right-sidebar.col {
    grid-area: sidebar;
}


@media (min-width: 1200px) {

    .container {
        max-width: 100%;
    }
}


@media (min-width: 992px) {

    .container {
        max-width: 100%;
    }
}



/** Defines the left hand column on screens larger than mobile **/
@media (min-width: 768px) {

    .container {
        max-width: 100%;
    }

    #filterSearch-wrapper .panel-header a.btn-link {
        cursor: default;
        display: inline-block;
        pointer-events: none;
    }

    #filterSearch-wrapper .panel-header a.btn-link .fas {
        display: none;
    }

    #filterSearch-wrapper .panel-header a.btn-link .fa-plus {
        display: none;
    }

    #filterSearch-wrapper .panel-header a.btn-link .fa-minus {
        display: none;
    }
}

@media (min-width: 576px) {

    .container {
        max-width: 100%;
    }
}



    /**
*   Media queries xlarge screens
*/
    @media (max-width: 1400px) {

        #mapBlock {
            width: 75%;
        }
    }



    /**
*   Media queries large screens
*/
    @media (max-width: 1200px) {

        #mapBlock {
            width: auto;
        }
    }



    /**
*   Media queries small screens
*/
    @media (max-width: 767px) {
        /** setting for left nav collapsable show on mobile **/
        #filterSearch-wrapper .panel-header a.btn-link .panelTitleBox {
            color: #006979;
            font-size: 1.6rem;
        }
        /** setting for left nav collapsable show on mobile **/
        #filterSearch-wrapper .panel-header a.btn-link .panel-name {
            color: #006979;
        }
            /** setting for left nav collapsable show on mobile **/
            #filterSearch-wrapper .panel-header a.btn-link .panel-name:hover {
                text-decoration: underline;
            }
        /** setting for left nav collapsable show on mobile **/
        #filterSearch-wrapper .panel-header a.btn-link:after {
            display: none;
        }
        /** setting for left nav collapsable show on mobile **/
        #filterSearch-wrapper .panel .collapse:not(.show) {
            display: none;
        }
        /** setting for left nav collapsable show on mobile **/
        #filterSearch-wrapper .panel-header a.btn-link .fas {
            display: inline-block;
            padding-right: 5px;
        }
        /** setting for left nav collapsable show on mobile **/
        #filterSearch-wrapper .panel-header a.btn-link .fa-plus {
            display: none;
        }
        /** setting for left nav collapsable show on mobile **/
        #filterSearch-wrapper .panel-header a.btn-link[aria-expanded="false"] .fa-plus {
            display: initial;
        }
        /** setting for left nav collapsable show on mobile **/
        #filterSearch-wrapper .panel-header a.btn-link[aria-expanded="false"] .fa-minus {
            display: none;
        }
        /** setting for left nav collapsable show on mobile **/
        #filterSearch-wrapper .panel-body {
            font-size: 1.2rem;
        }

        .grid {
            grid-template-areas: 'lhs' 'main-map' 'sidebar';
        }

        #left-nav {
            width: 100%;
        }

        #center-index {
            width: 100%;
        }

        #right-sidebar {
            width: 100%;
        }
    }



    /**
*   Main Row Footer
*/
    #capstone-info {
        color: #4D5F69;
        padding-top: 1rem;
        text-align: center;
    }

    #capstone-link {
        color: #006979;
    }



    /**
*   Sticky footer styles
*/
    .footer {
        bottom: 0;
        color: #4D5F69;
        height: 60px;
        line-height: 60px;
        position: absolute;
        width: 100%;
        white-space: nowrap;
    }

        .footer #privacy-link {
            color: #006979;
        }
